.article.journal {
    padding-bottom: 64px;
}
.article .heading .subtitle {
    padding-top: 18px;
}
nav.nav.backend {
    background-color: #1c7cd6;
}
nav.nav.backend a {
    color: #fff;
    font-size: 20px;
}
.menu.backend{
  font-size: 20px;
}
.column.table {
    padding-top: 20px;
    padding-right: 25px;
}
td.center {
  text-align: center;
  font-size: 16px;
  padding-top: 45px;
}
span.with-i {
    padding-left: 5px;
}
